
*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-size: larger;
}


body{
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background: linear-gradient(to bottom, rgba(144, 2, 253, 0.925), rgba(0, 61, 66, 0.87));
gap: 10px;

}
h1{
font-size: 3vmax;
border-radius: 10px;
background-color: aliceblue;
border: solid ;



}


.caixa{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 25px;
width: 95vh;
background: white;
border-radius: 10px;
border: solid black;



}


.escolha-btn{
padding: 20px;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
background-color: rgba(6, 6, 233, 0.654);
color: white;
margin: 10px;


}
.escolha-btn:hover{
cursor: pointer;
background-color: rgba(144, 2, 253, 0.925);
transition: 0.9s;


}
.refazer{
padding: 20px;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
width: 90%;
background-color: rgba(6, 6, 233, 0.654);
color: white;
margin: 10px;
text-decoration: none;
border: solid black;


}
.refazer:hover{
cursor: pointer;
background-color: rgba(89, 2, 155, 0.925);
transition: 2s;
}